/* ***************Custom Properties*********************** */
:root {
  --first-color: #fca22f;
  --first-alpha-color: #fca22f75;
  --second-color: #f9f2d9;
  --second-alpha-color: #f9f2d9;
  --third-color: #46958b;
  --third-alpha-color: #46958b;

  --link-color: #174c5f;
  --link-alpha-color: #174c5f;

  --blue-color: #a2e1ed;
  --blue-alpha-color: #a2e1ed;
}
/* ***************Reset Styles*********************** */
body {
  /* En bootstrap el font family se agrega en el body */
  font-family: "raleway", sans-serif;
}

a {
  color: var(--link-color);
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--first-color);
}

/* ***************Bootstrap Styles*********************** */

/* ***************My Styles*********************** */

.menu {
  display: flex;
  justify-content: space-evenly;
}

.active-link {
  font-weight: bold;
}

.active-link a:hover {
  color: var(--first-color);
}
