/* ***************Custom Properties*********************** */
:root {
  --first-color: rgb(252, 162, 47);
  --first-alpha-color: rgba(252, 162, 47, 0.75);
  --second-color: rgb(249, 242, 217) #;
  --second-alpha-color: rgba(249, 242, 217, 0.75);
  --third-color: rgb(70, 149, 139);
  --third-alpha-color: rgba(70, 149, 139, 0.75);

  --link-color: rgb(23, 76, 95);
  --link-alpha-color: rgba(23, 76, 95, 0.75);

  --bg-color: rgb(162, 225, 237) #;
  --bg-alpha-color: rgba(162, 225, 237, 0.75);

  --bg-img-color: rgba(20, 25, 45, 0.75);
}
/* ***************Reset Styles*********************** */
body {
  /* En bootstrap el font family se agrega en el body */
  font-family: "raleway", sans-serif;

  a {
    color: var(--link-color);
    transition: all 0.3s ease-out;
  }

  a:hover {
    color: var(--first-color);
  }
}

/* ***************Bootstrap Styles*********************** */
.btn {
  border: none;
}

.btn-success {
  background-color: var(--first-color) !important;
}

.btn-success:hover {
  background-color: var(--first-alpha-color) !important;
}

.nav-link {
  margin-left: 0.5rem;
  font-size: 1.15rem;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

.nav-link:hover {
  color: var(--first-color);
}
/* ***************My Styles*********************** */
.adoption-card {
  margin: 2rem;
  padding: 1rem;
  border: solid 1px #ccc;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.adoption-header {
  width: 100%;
  aspect-ratio: 1.5;
}

.adoption-img {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  border-radius: 1rem;
  object-fit: cover;
}

.adoption-body {
  margin-top: 2rem;
}

.adoption-btn {
  margin-left: auto;
  margin-right: auto;
}

.bg-second-alpha-color {
  background-color: var(--second-alpha-color);
}

.bg-img-color {
  background-color: var(--bg-img-color);
}

.bg-first-color {
  background-color: var(--first-color);
}

.bg-second-color {
  background-color: var(--second-color);
}

.bg-third-color {
  background-color: var(--third-color);
}

.bg-hero-image {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-mascota {
  width: 100%;
  max-width: 250px;
  background-color: rgb(243, 235, 235);
  transition: transform 200ms ease;
  border-radius: 0.8rem;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.card-mascota:hover {
  transform: scale(1.03);
}

.mascota-header {
  border-bottom: 1px solid #ccca;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  padding: 1.3em;
  width: 100%;
  aspect-ratio: 1.5;
  position: relative;
  overflow: hidden;
}

.mascota-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.mascota-body {
  padding: 1rem 1.5rem;
  position: relative;
}

.mascota-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.mascota-especie {
  font-size: 0.9rem;
  color: var(--third-color);
}

.mascota-raza {
  font-size: 0.9rem;
  color: var(--third-color);
}

.modal-body-img {
  width: 100%;
  aspect-ratio: 1.5;
  position: relative;
  overflow: hidden;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-img {
  width: auto;
  height: 500px;
}

.carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-card {
  width: 354px; /* Fijar el ancho de todas las tarjetas */
  height: 388px; /* Fijar la altura de todas las tarjetas */
}

.custom-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen rellena la tarjeta sin deformarse */
}

.img-brand img {
  width: auto;
  height: 3rem;
}

.footer-img {
  width: auto;
  height: 7rem;
}

.modal.is-open {
  display: flex;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  max-height: 600px;
  background-color: #fff;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.social-icon {
  width: 20px;
  height: 20px;
  /*   fill: var(--link-color);
  transition: all 0.3s ease-out; */
}

/* .social-icon:hover {
  fill: var(--first-color);
} */

small {
  display: inline-block;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .custom-card {
    width: 334px; /* Fijar el ancho de todas las tarjetas */
    height: 368px; /* Fijar la altura de todas las tarjetas */
  }

  /* .mascota-form-contenido {
    max-width: 800px;
    flex-direction: row;
  }

  .mascota-form-contenido img {
    max-width: 400px;
    height: auto;
    object-fit: cover;
  }

  .mascota-form-info {
    margin-left: 1rem;
    align-self: center;
  } */
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .custom-card {
    width: 220px; /* Fijar el ancho de todas las tarjetas */
    height: 240px; /* Fijar la altura de todas las tarjetas */
  }
}
